@using Microsoft.AspNetCore.Mvc.Localization;
@model userManagerApplication.Models.UserModel;

@inject IViewLocalizer Localizer



<link rel="stylesheet" href="~/css/adminPanel.css" asp-append-version="true" />

<div class="modalCustomWidth" tabindex="-1">
    <div class="modal-header">
        <h4 class="modal-title">@Localizer["User"]</h4>
        <button type="button" class="close btn btn-outline-danger" data-bs-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">

        <form id="editUserForm" asp-action="UpdateUser" asp-controller="Admin" method="post">

            <div class="col-12">
                <label id="titleUserForm">@Localizer["TitleEditUser"]</label>
                <div class="form-group">
                    <label for="Name">@Localizer["Name"]</label>
                    <input id="nameCreateUser" name="Name" class="form-control requiredCreateUser">
                    @* @Html.LabelFor(model => model.Name) *@
                </div>
                <div class="form-group">
                    <label for="LastName">@Localizer["LastName"]</label>
                    <input id="lastNameCreateUser" name="LastName" class="form-control requiredCreateUser">
                    @* @Html.LabelFor(model => model.LastName) *@
                </div>
                <hr />
            </div>

            <div class="col-12">
                <label id="titleUserForm">@Localizer["Contact"]</label>
                <div class="form-group">
                    <label for="Phone">@Localizer["Phone"]</label>
                    <input id="phoneCreateUser" name="Phone" class="form-control requiredCreateUser">
                    @* @Html.LabelFor(model => model.Phone) *@
                </div>
                <div class="form-group">
                    <label for="Email">@Localizer["Email"]</label>
                    <input id="emailCreateUser" name="Email" class="form-control requiredCreateUser">
                    @* @Html.LabelFor(model => model.Email) *@
                </div>
                <hr />
            </div>

            <div class="row">
                <label id="titleUserForm">@Localizer["Access"]</label>

                <div id="accessContainer" class="col-12">
                    <div class="form-group col-lg-6 col-md-6 col-sm-6">
                        <div class="row" id="divSelRole">
                            <label for="Role" class="col-form-label">@Localizer["Role"]</label>
                            <select name="Role" id="selRoleUser" class="form-comtrol requiredCreateUser">
                                <option value="-1" selected>Select</option>
                                @*<option value="1" selected>pipa</option>*@
                            </select>
                            @* @Html.LabelFor(model => model.IdRole) *@
                        </div>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6" id="divPasswordUserUpdate">
                        <label for="Password">@Localizer["Password"]</label>
                        <input id="passwordCreateUser" name="Password" class="form-control requiredCreateUser">
                        @* @Html.LabelFor(model => model.Password) *@
                    </div>
                </div>
                
                <hr />
            </div>


        </form>

        <div class="col-12">
            <label id="titleUserForm">@Localizer["UserPage"]</label>
            <div class="form-group">
                <div class="row">
                    <button class="btn btn-dark" id="btnUserPages">@Localizer["OpenModalUserPages"]</button>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" id="btnUpdateUser" form="editUserForm" class="btn btn-success" onclick="updateUser()">@Localizer["Save"]</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Localizer["Cancel"]</button>
    </div>
</div>


<div>
</div>



<script src="~/js/updateUserModal.js"></script>

@section Scripts {      
    
}
